body {
    background-color: #454545;
    overflow-x: hidden;
}

header {
    height: 77px;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    background-color: #454545;
    align-items: center;
    border-bottom: 5px solid #2c2c2c;
}

header button {
    color: white;
    font-size: 20px;
    font-family: "Arial Black", serif;
    background-color: #373737;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 30px;
}

header button:hover {
    cursor: pointer;
    border: 5px solid #2c2c2c;
}

.title_dangers {
    background-color: #373737;
    width: 400px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    text-align: center;
    margin: 20px 100px 20px 100px;
}

.title_dangers h1 {
    color: white;
    font-size: 20px;
    font-family: "Arial Black", serif;
    text-decoration: underline;
}

.dangers_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    width: fit-content;
    text-align: center;
    margin: 100px auto;
}


.danger .show {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: "Arial Black", serif;
    background-color: #454545;
    width: 150px;
    height: 53px;
    border: 3px solid #373737;
    border-radius: 30px;
}
.danger .show:hover {
    cursor: pointer;
    border: 5px solid #2c2c2c;
}
.danger h2 {
    color: #79B2F5;
    font-size: 25px;
    font-family: "Arial", serif;
    text-decoration: underline;
}

.danger img {
    transform: translateZ(20px);
    width: 125px;
    height: 125px;
}
.danger {
    transform-style: preserve-3d;
    width: 350px;
    height: 271px;
    background-color: #373737;
    border-radius: 30px;
}


footer {
    margin-top: 150px;
    background-color: #373737;
    height: 373px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.help h1 {
    color: #5F8FC8;
    font-size: 35px;
    font-family: "Arial Black", serif;
    text-decoration: underline;
}

.help button {
    color: white;
    font-size: 20px;
    font-family: "Arial Black", serif;
    background-color: #454545;
    width: 403px;
    height: 63px;
    border: 0;
    border-radius: 30px;
}
.help button:hover {
    cursor: pointer;
    border: 5px solid #2c2c2c;
}