body {
    background-color: #454545;
    overflow-x: hidden;
}

header {
    height: 77px;
    background-color: #454545;

    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px solid #2c2c2c;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        height: 150px;
        padding: 10px;
    }
}

header button {
    color: white;
    font-size: 20px;
    font-family: "Arial Black", serif;
    background-color: #373737;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 30px;
}

@media (max-width: 600px) {
    header button {
        margin: 3px;
    }
}

header button:hover {
    cursor: pointer;
    border: 5px solid #2c2c2c;
}


.presentation h1 {
    font-size: 35px;
    font-family: "Arial Black", serif;
    color: white;
    text-align: center;
    margin-top: 100px;
}

.presentation h1 a {
    color: #5F8FC8;
    text-decoration: underline;
}

.information {
    width: 893px;
    height: 277px;
    background-color: #373737;
    border-radius: 30px;
    margin: 50px auto auto;
    text-align: center;
    transition: ease .5s;
    box-shadow:  11px 11px 23px #1e1e1e,
    -11px -11px 23px #373737;
}

@media (max-width: 893px) {
    .information {
        width: auto;
        height: auto;
    }
}

.information p {
    font-family: "Arial", serif;
    font-size: 20px;
    color: white;
    padding: 95px;
}

.dangers {
    text-align: center;
}

.dangers .show_more {
    margin-top: 40px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Arial Black", serif;
    background-color: #373737;
    width: 300px;
    height: 53px;
    border: 3px solid #373737;
    border-radius: 30px;
}
.dangers .show_more:hover {
    cursor: pointer;
    border: 5px solid #2c2c2c;
}

.danger .show {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: "Arial Black", serif;
    background-color: #454545;
    width: 150px;
    height: 53px;
    border: 3px solid #373737;
    border-radius: 30px;
}
.danger .show:hover {
    cursor: pointer;
    border: 5px solid #2c2c2c;
}
.danger h2 {
    color: #79B2F5;
    font-size: 25px;
    font-family: "Arial", serif;
    text-decoration: underline;
}

.danger img {
    transform: translateZ(20px);
    width: 125px;
    height: 125px;
}
.danger {
    transform-style: preserve-3d;
    width: 350px;
    height: 271px;
    background-color: #373737;
    border-radius: 30px;
}

.dangers_title {
    font-size: 38px;
    font-family: "Arial Black", serif;
    color: #5F8FC8;
    text-align: center;
    text-decoration: underline;
    margin-top: 100px;
    margin-bottom: 50px;
}

.dangers_container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 50px;
    width: fit-content;
    margin: 0 auto;
}

@media (max-width: 893px) {
    .dangers_container {
        grid-template-columns: 2fr;
    }
}


.popup:target {
    visibility: visible;
}


footer {
    margin-top: 150px;
    background-color: #373737;
    height: 373px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}



.contact h1 {
    color: #5F8FC8;
    font-size: 35px;
    font-family: "Arial Black", serif;
    text-decoration: underline;
}

.contact p {
    color: white;
    font-size: 16px;
    font-family: "Arial", serif;
}