
.popup {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 9999;
    background-color: #000;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    align-items: center;
}

.popup:target {
    visibility: visible;
}

.popup .modal {
    width: 893px;
    height: 350px;
    background-color: #1e1e1e;
    border-radius: 30px;
    margin: 12% auto auto;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.close {
    margin-right: 25px;
    color: #aaa;
    float: right;
    font-size: 65px;
    font-weight: 700;
    z-index: 1000;
}

.close:focus, .close:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.modal h1 {
    font-size: 30px;
    font-family: "Arial Black", serif;
    color: white;
    padding: 20px;
    text-decoration: underline;
}
.modal img {
    padding-left: 25px;
    margin-right: 25px;
    width: 200px;
    height: 200px;
}

.modal p {
    padding-right: 20%;
    color: white;
    font-size: 16px;
    font-family: "Arial", serif;
}